fastapi==0.128.0
uvicorn[standard]==0.40.0
pydantic==2.12.4
pydantic-settings==2.12.0
python-dotenv==1.1.0
python-multipart==0.0.20
PyYAML==6.0.3
PyJWT==2.10.1
pymysql==1.1.1
matplotlib==3.10.0
numpy==1.26.4
pandas==2.3.2
seaborn==0.13.0
pymongo==4.0.0
httpx==0.28.1
mysqlclient==2.2.7
async-lru==2.1.0
sqlalchemy==2.0.45
asyncmy==0.2.11
sqlalchemy-doris==0.2.2
sqlparse==0.5.3
greenlet==3.3.0
smart_open==7.5.0
boto3==1.42.31
pytest==9.0.2
pytest-asyncio==1.3.0
